<div>
    <h2 translate="nattymalsApp.pet.home.title">Pets</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pet.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="nattymalsApp.pet.home.createLabel">Create new Pet
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span translate="nattymalsApp.pet.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span translate="nattymalsApp.pet.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span translate="nattymalsApp.pet.weight">Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasPedigree"><span translate="nattymalsApp.pet.hasPedigree">HasPedigree</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="race"><span translate="nattymalsApp.pet.race">Race</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthDate"><span translate="nattymalsApp.pet.birthDate">BirthDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span translate="nattymalsApp.pet.photo">Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dating"><span translate="nattymalsApp.pet.dating">Dating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="nattymalsApp.pet.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="petOwner.user.login"><span translate="nattymalsApp.pet.petOwner">petOwner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in pets track by pet.id">
                    <td><a ui-sref="pet.detail({id:pet.id})">{{pet.id}}</a></td>
                    <td>{{pet.type}}</td>
                    <td>{{pet.sex}}</td>
                    <td>{{pet.weight}}</td>
                    <td>{{pet.hasPedigree}}</td>
                    <td>{{pet.race}}</td>
                        <td>{{pet.birthDate | date:'mediumDate'}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + pet.photoContentType + ';base64,' + pet.photo}}" style="max-height: 30px;" ng-if="pet.photo"/> {{pet.photoContentType}} {{byteSize(pet.photo)}}
                    </td>
                    <td>{{pet.dating}}</td>
                    <td>{{pet.name}}</td>
                    <td>
                        <a ui-sref="petOwner.detail({id:pet.petOwner.id})">{{pet.petOwner.user.login}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pet.detail({id:pet.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pet.edit({id:pet.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pet.delete({id:pet.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
