<div>
    <h2 translate="nattymalsApp.clinic.home.title">Clinics</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="clinic.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="nattymalsApp.clinic.home.createLabel">Create new Clinic
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span translate="nattymalsApp.clinic.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="nattymalsApp.clinic.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="province"><span translate="nattymalsApp.clinic.province">Province</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="schedule"><span translate="nattymalsApp.clinic.schedule">Schedule</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span translate="nattymalsApp.clinic.phoneNumber">PhoneNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="veterinarian.id"><span translate="nattymalsApp.clinic.veterinarian">veterinarian</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clinic in clinics track by clinic.id">
                    <td><a ui-sref="clinic.detail({id:clinic.id})">{{clinic.id}}</a></td>
                    <td>{{clinic.address}}</td>
                    <td>{{clinic.city}}</td>
                    <td>{{clinic.province}}</td>
                    <td>{{clinic.schedule}}</td>
                    <td>{{clinic.phoneNumber}}</td>
                    <td>
                        <a ui-sref="veterinarian.detail({id:clinic.veterinarian.id})">{{clinic.veterinarian.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="clinic.detail({id:clinic.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clinic.edit({id:clinic.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="clinic.delete({id:clinic.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
