<div>
    <h2 translate="nattymalsApp.veterinarian.home.title">Veterinarians</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="veterinarian.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="nattymalsApp.veterinarian.home.createLabel">Create new Veterinarian
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bankAccount"><span translate="nattymalsApp.veterinarian.bankAccount">BankAccount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="webAddress"><span translate="nattymalsApp.veterinarian.webAddress">WebAddress</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="refereeNumber"><span translate="nattymalsApp.veterinarian.refereeNumber">RefereeNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="veterinarian in veterinarians track by veterinarian.id">
                    <td><a ui-sref="veterinarian.detail({id:veterinarian.id})">{{veterinarian.id}}</a></td>
                    <td>{{veterinarian.bankAccount}}</td>
                    <td>{{veterinarian.webAddress}}</td>
                    <td>{{veterinarian.refereeNumber}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="veterinarian.detail({id:veterinarian.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="veterinarian.edit({id:veterinarian.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="veterinarian.delete({id:veterinarian.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
