<div>
    <h2 translate="nattymalsApp.discount.home.title">Discounts</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="discount.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="nattymalsApp.discount.home.createLabel">Create new Discount
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="nattymalsApp.discount.companyName">CompanyName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="nattymalsApp.discount.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="nattymalsApp.discount.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="nattymalsApp.discount.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discountRate"><span translate="nattymalsApp.discount.discountRate">DiscountRate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="nattymalsApp.discount.startDate">StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="nattymalsApp.discount.endDate">EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="administrator.id"><span translate="nattymalsApp.discount.administrator">administrator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="discount in discounts track by discount.id">
                    <td><a ui-sref="discount.detail({id:discount.id})">{{discount.id}}</a></td>
                    <td>{{discount.companyName}}</td>
                    <td>{{discount.title}}</td>
                    <td>{{discount.description}}</td>
                    <td>{{discount.code}}</td>
                    <td>{{discount.discountRate}}</td>
                    <td>{{discount.startDate | date:'medium'}}</td>
                    <td>{{discount.endDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="administrator.detail({id:discount.administrator.id})">{{discount.administrator.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="discount.detail({id:discount.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="discount.edit({id:discount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="discount.delete({id:discount.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
